@tailwind components;

@layer components {
  .uno.playing-card {
    @apply border-white flex content-center justify-center align-middle flex-wrap;
    border-width: 3px;
  }

  .uno.playing-card .inner {
    @apply border-black border-solid h-5/6 sm:h-3/4 w-5/6 sm:w-3/4 flex content-center justify-center flex-wrap rounded-md bg-white align-middle text-black;
    border-width: 1px;
  }

  .uno.playing-card .inner > * {
    @apply text-2xl sm:text-3xl lg:text-4xl xl:text-5xl;
  }

  .uno.hand {
    height: 120px;
    @apply w-auto;
  }

  .uno.hand .playable {
    top: -1rem;
    z-index: 2;
  }

  .uno.playing-card.reverse .inner > *,
  .uno.playing-card.skip .inner > *,
  .uno.playing-card.draw-two .inner > *,
  .uno.playing-card.card-group-wild .inner > *,
  .uno.playing-card.wild-draw-four > * {
    @apply text-xs md:text-base lg:text-lg xl:text-xl font-black;
  }

  .bg-yellow {
    background-color: #ffff00;
  }
}